@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }

  #export-target,
  #export-target * {
    visibility: visible;
  }

  #export-target {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .no-print {
    display: none !important;
  }

  * {
    overflow: visible !important;
  }

  svg {
    background: transparent !important;
  }
}

@media print {
  body {
    margin: 40px;
  }
}

@media print {
  svg {
    background: transparent !important;
  }
  .node rect {
    fill: #ffffff !important;
    stroke: #000 !important;
  }

  .node text {
    fill: #000 !important;
  }

  .edgePath path {
    stroke: #000 !important;
  }
}

@media print {
  .print-section {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .grid {
    break-inside: avoid;
  }

  h2 {
    page-break-after: avoid;
  }
}
